@page "/Battle"
@using HamsterWars.Shared.Models
@inject HttpClient client
@if (hamster1 != null && hamster2 != null)
{

    <div class="container col-12">
        <div class="row">
            
                <div class="card col-6 ">
                    <div class="card-header">
                        <h3>@hamster1.Name </h3>
                    </div>
                    <div class="card-img" style="display: -webkit-inline-box; max-height: 250px; max-width: 250px; margin: auto">
                       <button> <img style="position: relative; float: left; max-height: 250px; max-width: 250px;" src="/images/hamsters/@hamster1.ImgName.ToString()"></button>
                    </div>
                    <div class="card-body">

                        <p>Age: @hamster1.Age</p>
                        <p>FavFood: @hamster1.FavFood</p>
                        <p>Loves: @hamster1.Loves</p>

                    </div>

                </div>
            
           
                <div class="card col-6">
                    <div class="card-header">
                        <h3>@hamster2.Name </h3>
                    </div>
                    <div class="card-img" style="display: -webkit-inline-box; max-height: 250px; max-width: 250px; margin: auto">
                      <button >   <img style="position: relative; float: left; max-height: 250px; max-width: 250px;" src="/images/hamsters/@hamster2.ImgName.ToString()"></button>
                    </div>
                    <div class="card-body">

                        <p>Age: @hamster2.Age</p>
                        <p>FavFood: @hamster2.FavFood</p>
                        <p>Loves: @hamster2.Loves</p>

                    </div>

                </div>
            
        </div>
    </div>
}
@code {
    Hamster hamster1;
    Hamster hamster2;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            hamster1 = await client.GetFromJsonAsync<Hamster>("HamsterGallery/hamsters/random");
            do
            {
                hamster2 = await client.GetFromJsonAsync<Hamster>("HamsterGallery/hamsters/random");
            } while (hamster1.Id == hamster2.Id);
        }
        catch (Exception ex)
        {

        }

    }
}
