@page "/Gallery"
@using HamsterWars.Shared.Models;
@inject HttpClient client
@using Newtonsoft.Json

<button @onclick="CreateCritter" type="button" class="btn btn-primary">Create Critter</button>
@if(createCritter == true)
{
    <AddCritter></AddCritter>
}

@foreach (var animal in hamsters)
{
    
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-img" style="height: 150px; width: 150px; float: left;">
            <img style="position: relative; float: left; height: 150px; width: 150px;" src="/images/hamsters/@animal.ImgName.ToString()">
        </div>
        <div class="card-body">
            <p>Name: @animal.Name </p>
            <p>Age: @animal.Age</p>
            <p>FavFood: @animal.FavFood</p>
            <p>Loves: @animal.Loves</p>
            <p>Wins: @animal.Wins</p>
            <p>Losses: @animal.Losses</p>
            <p>Games: @animal.Games</p>
        </div>
        <div>
            <button class="btn btn-danger" @onclick="@(e => DeleteCritter(animal.Id))">Delete</button>           
        </div>
    </div>
}



@code {
    List<Hamster>? hamsters = new List<Hamster>();
    Hamster hamster;

    bool createCritter = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            hamsters = await client.GetFromJsonAsync<List<Hamster>>("HamsterGallery/hamsters");
        }
        catch (Exception ex)
        {

        }

    }
    async Task DeleteCritter(int id)
    {

        hamster = hamsters.Where(x => x.Id == id).SingleOrDefault();
        hamsters.Remove(hamster);
        await client.DeleteAsync($"HamsterGallery/hamsters/{id}");

    }

    async Task CreateCritter()
    {
        createCritter = true;
    }
}
